<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewBag.Title</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="~/Assets/css/stisla/prism.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Assets/css/stisla/style.css">
    <link rel="stylesheet" href="~/Assets/css/stisla/components.css">

    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
</head>

<body>
    <div id="app">
        @if (Session["Name"] != null)
        {
            <div class="main-wrapper main-wrapper-1">
                <div class="navbar-bg"></div>
                @* Html Partial _Navbar akan merender sebuah code HTML berupa navbar *@
                @Html.Partial("_NavBar")

                @{ 
                    Html.RenderPartial("_SideBar");
                }

                <!-- Main Content -->
                <div class="main-content">
                    <section class="section">
                        <div class="section-header">
                            <h1>@ViewBag.Title</h1>
                        </div>
                        @if (Request.Url.AbsolutePath == "/Home/Index")
                        {
                            Html.RenderPartial("_CardDashboard");
                        }

                        @RenderBody()
                    </section>
                </div>
            </div>
        }
        else
        {
           @RenderBody()
        }
    </div>

    <!-- General JS Scripts -->
    <script src="~/Assets/js/stisla/jquery.min.js"></script>
    <script src="~/Assets/js/stisla/popper.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/stisla/jquery.nicescroll.min.js"></script>
    <script src="~/Assets/js/stisla/moment.min.js"></script>
    <script src="~/Assets/js/stisla/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="~/Assets/js/stisla/bootstrap-modal.js"></script>

    <!-- Template JS -->
    <script src="~/Assets/js/stisla/scripts.js"></script>
    <script src="~/Assets/js/stisla/custom.js"></script>

    <script>
        $(document).ready(function () {
            $("#example").DataTable({
                "lengthMenu": [5, 10, 15],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Indonesian.json"
                }
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>







@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
