@model IEnumerable<TestingApp.Models.Jurusan>

@{
    ViewBag.Title = "Jurusan";

    if (Session["id"] == null)
    {
        Response.Redirect("~/Authentication/Login");
    }
}


@*@if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible show fade">
            <div class="alert-body">
                <button class="close" data-dismiss="alert">
                    <span>×</span>
                </button>
                @ViewBag.Message
            </div>
        </div>
    }*@

<div>
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Successfully", '@TempData["message"]', "success");
            };
        </script>
    }

    @if (TempData["message-error"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Error", '@TempData["message-error"]', "error");
            };
        </script>
    }
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="px-5 py-3">
                <div class="row justify-content-between">
                    <h5>List Jurusan</h5>

                    <a href="@Url.Action("Create", "Jurusan")" class="btn btn-primary">
                        Tambah Data
                    </a>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-bordered" id="example">
                    <thead>
                        <tr>
                            <th>ID JURUSAN</th>
                            <th>NAMA JURUSAN</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id_Jurusan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nama_Jurusan)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "Jurusan", new { id = item.Id })" class="btn btn-warning">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>

                                        <a href="@Url.Action("Edit", "Jurusan", new { id = item.Id })" class="btn btn-success mx-2">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>

                                        <form action="@Url.Action("Delete", "Jurusan", new { id = item.Id })" method="post" class="d-inline">
                                            @Html.AntiForgeryToken()
                                            <button type="button" class="btn btn-danger btn-Delete" data-id="@item.Id">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="text-center">
                                    <span class="text-danger">Data Not Available</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $(".btn-Delete").on("click", function () {
                var id = $(this).data("id");

                swal({
                    title: "Delete jurusan",
                    text: "Do you want to delete jurusan!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((oke) => {
                    if (oke) {
                        $.ajax({
                            type: "POST",
                            url: `../Jurusan/Delete?id=${id}`,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (result) {
                                console.log(result);
                                if (!result.ok) {
                                    throw new Error("Network response was not oke");
                                }

                                return response.json();

                                if (result.success == "Jurusan successfully deleted") {
                                    swal({
                                        title: "Success",
                                        text: "success deleting",
                                        icon: "success",
                                    });

                                    setTimeout(() => {
                                        window.location.reload(true);
                                    }, 2000);
                                }

                            },
                            error: function (error) {
                                console.log("Error :" + error.message);
                            }
                        });
                    }
                });

            });
        });
    </script>
}








