@model IEnumerable<TestingApp.Models.Student>

@{
    ViewBag.Title = "Mahasiswa";
}

<div>
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Successfully", '@TempData["message"]', "success");
            };
        </script>
    }
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="px-5 py-3">
                <div class="row justify-content-between">
                    <h5>List Students</h5>
                    <a href="@Url.Action("Create", "Student")" class="btn btn-primary">
                        Tambah Data
                    </a>

                    <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Modal body text goes here.</p>
                                </div>
                                <div class="modal-footer bg-whitesmoke br">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="example">
                        <thead>
                            <tr>
                                <th>NIM</th>
                                <th>NAMA</th>
                                <th>JK</th>
                                <th>JURUSAN</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null && Model.Count() > 0)
                            {

                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nim)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Jk)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Jurusan.Nama_Jurusan)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            <form method="post" asp-action="Delete" asp-controller="Student" asp-route-id="@item.Id" class="form-delete">
                                                <button type="button" class="btn btn-danger btn-delete" onclick="functionConfirm(this)">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center text-danger">
                                        Data Not Availabel
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function functionConfirm(event) {
            const swal = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swal.fire({
                title: 'Are you sure?',
                text: "Delete !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel',
                reverseButtons: true,
                timer: 5000
            }).then((result) => {
                if (result.isConfirmed) {
                    $(".form-delete").submit();
                    swal.fire({
                        title: 'Successfully!',
                        text: 'Data Mahasiswa berhasi di hapus.',
                        icon: 'success',
                        timer: '3000'
                    })
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swal.fire(
                        'İptal edildi',
                        '',
                        'error'
                    )
                }
            })
        }
    </script>
}

